/* RESET VITE DEFAULT (nu ne trebuie) */
:root {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: block;   /* IMPORTANT: nu flex */
}

/* IMPORTANT: Vite template pune uneori padding pe root */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
